{{ '*' * project_name|length }}
{{ project_name }}
{{ '*' * project_name|length }}

.. image:: https://github.com/{{ owner_project_path }}/actions/workflows/ci.yml/badge.svg
    :target: https://github.com/{{ owner_project_path }}/actions/workflows/ci.yml
    :alt: Continuous integration

.. image:: https://coveralls.io/repos/github/{{ owner_project_path }}/badge.svg?branch=main
    :target: https://coveralls.io/github/{{ owner_project_path }}

.. image:: https://badge.fury.io/py/{{ project_name }}.svg
    :target: https://badge.fury.io/py/{{ project_name }}
    :alt: PyPI - version

.. image:: https://img.shields.io/pypi/pyversions/{{ project_name }}.svg
    :alt: PyPI - Python Version

{{ motto }}

Installation
============
Check out the repository and change to its directory.

Create a virtual environment:

.. code-block::

    python -m venv venv

Activate it (on Windows):

.. code-block::

    venv/Scripts/activate

... or on Unix:

.. code-block::

    source venv/bin/activate

Install the dependencies:

.. code-block::

    pip3 install {{ project_name }}

You can now run ``{{ project_name }}`` (see ``--help`` section below).

``--help``
==========

.. Help starts: {{ project_name }} --help
.. code-block::
.. Help ends: {{ project_name }} --help

Contributing
============
See [CONTRIBUTING.rst](CONTRIBUTING.rst).