"""Run {{ project_name }} as Python module."""

import {{ module_name }}.main

if __name__ == "__main__":
    # The ``prog`` needs to be set in the argparse.
    # Otherwise, the program name in the help shown to the user will be ``__main__``.
    {{ module_name }}.main.main(prog="{{ module_name }}")
